<!-- HEADER -->
<div id="header_wrap" class="outer">
  <header class="inner">
    <a id="forkme_banner" href="https://github.com/erictheise/mctad.js">View on GitHub</a>

    <h1 id="project_title">mctad.js</h1>
    <h2 id="project_tagline">Measures of Central Tendency And Dispersion: A JavaScript library for probability &amp; statistics</h2>

    <section id="downloads">
      <a class="zip_download_link" href="https://github.com/erictheise/mctad.js/zipball/master">Download this project as a .zip file</a>
      <a class="tar_download_link" href="https://github.com/erictheise/mctad.js/tarball/master">Download this project as a tar.gz file</a>
    </section>
  </header>
</div>
