.backgrid {
  fill: #ddd;
}

.dot {
  stroke: #00f;
  stroke-width: 1.5px;
  fill: #0d0;
  fill-opacity: 50%;
}

.line, .trace, .start {
  stroke: #00f;
  stroke-width: 1.5px;
  fill: none;
}

.area {
  stroke: none;
  fill: #00f;
  fill-opacity: 15%;
}

.axis path,
.axis line {
  fill: none;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: sans-serif;
  font-size: 0.6em;
}
