.backgrid {
  fill: #e2e2e2;
}

.dot {
  stroke: #00f;
  stroke-width: 1.5px;
  fill: #3232e1;
  fill-opacity: 33%;
}

.curve, .trace, .start {
  stroke: #2422a2;
  stroke-width: 1.5px;
  fill: none;
}

.areaUnderTheCurve {
  stroke: none;
  fill: #3232e1;
  fill-opacity: 33%;
}

.axis path,
.axis line {
  fill: none;
  stroke: #efefef;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: sans-serif;
  font-size: 0.6em;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus rect {
  fill: #000;
  fill-opacity: 50%;
}
.focus circle {
  stroke: #fff;
  stroke-width: 2px;
  fill: none; /* #FFBB24; */
  fill-opacity: 50%;
}

.focus .sweep {
  stroke: #ffa01c;
  stroke-width: 1.5px;
}

.bubble {
  position: absolute;
  text-align: center;
  padding: 8px;
  font: 12px sans-serif;
  background: #eee;
  border: solid 1px #aaa;
  border-radius: 8px;
  pointer-events: none;
}
